//@import '../../styles/globals';
//@import '../../node_modules/carbon-components/scss/components/tile/tile';
//.bx--tile {
//  //color: #ffffff;
//  color: #ffffff !important;
//  width: 72rem;
//  height: 40rem;
//  top: 2rem;
//}
.tiles {
  //display: flex;
  //flex-direction: row;
}
.text {
  position: absolute;
  bottom: 4rem;
  right: 0.5rem;
}
.icons {
  //position: relative;
  top: 1.8px;
}