//html,
//body {
//  padding: 0;
//  margin: 0;
//  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
//}
//
//a {
//  color: inherit;
//  text-decoration: none;
//}
//
//* {
//  box-sizing: border-box;
//}
@import '~@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
//$carbon--theme: $carbon--theme--white;
@include carbon--theme();

@import '../node_modules/carbon-components/scss/components/ui-shell/ui-shell';
@import '../node_modules/carbon-components/scss/components/content-switcher/content-switcher';
@import '../node_modules/carbon-components/scss/components/tile/tile';
@import '../node_modules/carbon-components/scss/components/form/form';
@import '../node_modules/carbon-components/scss/components/text-area/text-area';
@import '../node_modules/carbon-components/scss/components/text-input/text-input';
@import '../node_modules/carbon-components/scss/components/number-input/number-input';
@import '../node_modules/carbon-components/scss/components/button/button';
@import '../node_modules/carbon-components/scss/components/select/select';
@import '../node_modules/carbon-components/scss/components/loading/loading';
@import '../node_modules/carbon-components/scss/components/inline-loading/inline-loading';
@import '../node_modules/carbon-components/scss/components/accordion/accordion';



@import '~@carbon/grid/scss/grid';
$css--reset: true;
.bx--content-switcher-btn {
  width: 18rem;
}

.bx--tile {
  //color: #ffffff;
  color: #ffffff;
  width: 25.5rem;
  height: 25.5rem;
  top: 2rem;
  //margin-right: 2rem;
  //margin-left: 2rem;
}
.bx--label {
  font-size: 20px;
}
.bx--inline-loading {
  display: inline-block;
  width: 20%;
}
.bx--accordion__title {
  font-size: 1.370rem;
}
td {
  padding: 10px;
  border: 1px solid white;
}
th {
  padding: 10px;
  border: 1px solid white;
}
ol, ul {
  list-style: auto;
}
b {
  font-weight: bold;
}
//p {
//  font-size: 40px;
//}
.bx--accordion__content > p{
  font-size: 16px;
}